{% extends 'SeegnoBootstrapBundle:Example:base.html.twig' %}

{% block title %}{{ parent() }} - Navs{% endblock %}

{% block content %}
    <header class="page-header">
        <h1>Navs</h1>
    </header>

    <section role="region">
        <p>Check the sidebar navigation.</p>
    </section>
{% endblock %}
