{% extends 'SeegnoBootstrapBundle:Template:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        'bundles/seegnobootstrap/less/sticky.less'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block body_attributes %} class="sticky"{% endblock %}

{% block body_content %}
    <div class="sticky-wrapper">
        {% block header %}{% endblock header %}

        {% block container %}
            <div class="container" role="main">
                {% block content %}{% endblock content %}
            </div>
        {% endblock container %}

        <div class="sticky-push"></div>
    </div>

    <div class="sticky-footer">
        {% block footer %}{% endblock footer %}
    </div>
{% endblock body_content %}
