<section>
    <div class="page-header docs-heading">
        <h1>Buttons</h1>
    </div>

    <div class="panel panel-default panel-example">
        <div class="panel-heading">Options</div>

        <div class="panel-body">
            <button type="button" class="btn btn-default">Default</button>&nbsp;
            <button type="button" class="btn btn-primary">Primary</button>&nbsp;
            <button type="button" class="btn btn-success">Success</button>&nbsp;
            <button type="button" class="btn btn-info">Info</button>&nbsp;
            <button type="button" class="btn btn-warning">Warning</button>&nbsp;
            <button type="button" class="btn btn-danger">Danger</button>&nbsp;
            <button type="button" class="btn btn-link">Link</button>
        </div>
    </div>

    <div class="panel panel-default panel-example">
        <div class="panel-heading">Sizes</div>

        <div class="panel-body">
            <button type="button" class="btn btn-default btn-lg">Large Button</button>&nbsp;
            <button type="button" class="btn btn-primary btn-lg">Large Button</button>

            <br><br>

            <button type="button" class="btn btn-default">Default Button</button>&nbsp;
            <button type="button" class="btn btn-primary">Default Button</button>

            <br><br>

            <button type="button" class="btn btn-default btn-sm">Small Button</button>&nbsp;
            <button type="button" class="btn btn-primary btn-sm">Small Button</button>

            <br><br>

            <button type="button" class="btn btn-default btn-xs">Extra Small Button</button>&nbsp;
            <button type="button" class="btn btn-primary btn-xs">Extra Small Button</button>
        </div>
    </div>
</section>
