<section>
    <div class="page-header docs-heading">
        <h1>Media</h1>
    </div>

    <div class="panel panel-default panel-example">
        <div class="panel-heading">List</div>

        <div class="panel-body">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/100x100">
                    </a>

                    <div class="media-body">
                        <h5 class="media-heading">Media heading</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, molestias, asperiores. Neque, tempora, nihil, voluptatibus, rerum amet pariatur hic similique cupiditate mollitia nemo a magnam aspernatur temporibus quidem saepe esse.</p>
                    </div>
                </li>

                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/100x100">
                    </a>

                    <div class="media-body">
                        <h5 class="media-heading">Media heading</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, molestias, asperiores. Neque, tempora, nihil, voluptatibus, rerum amet pariatur hic similique cupiditate mollitia nemo a magnam aspernatur temporibus quidem saepe esse.</p>
                    </div>
                </li>

                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/100x100">
                    </a>

                    <div class="media-body">
                        <h5 class="media-heading">Media heading</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, molestias, asperiores. Neque, tempora, nihil, voluptatibus, rerum amet pariatur hic similique cupiditate mollitia nemo a magnam aspernatur temporibus quidem saepe esse.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
