<section>
    <div class="page-header docs-heading">
        <h1>Navs</h1>
    </div>

    <div class="panel panel-default panel-example">
        <div class="panel-heading">Default</div>

        <div class="panel-body">
            <ul class="nav">
                <li class="active"><a href="#">Active</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default panel-example">
        <div class="panel-heading">Pills</div>

        <div class="panel-body">
            <ul class="nav nav-pills">
                <li class="active"><a href="#">Active</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default panel-example">
        <div class="panel-heading">Tabs</div>

        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Active</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>
</section>
