<section>
    <div class="page-header docs-heading">
        <h1>Typography</h1>
    </div>

    <div class="panel panel-default docs-panel">
        <div class="panel-heading">Headings</div>

        <div class="panel-body">
            <h1>h1. Custom heading</h1>
            <h2>h2. Custom heading</h2>
            <h3>h3. Custom heading</h3>
            <h4>h4. Custom heading</h4>
            <h5>h5. Custom heading</h5>
            <h6>h6. Custom heading</h6>
        </div>
    </div>

    <div class="panel panel-default docs-panel">
        <div class="panel-heading">Body copy</div>

        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, praesentium, nobis, aliquid <a href="#">perferendis</a> tempora ipsum in esse quasi autem illum labore tenetur officia ratione deserunt repellat. Officiis, provident unde numquam.</p>
            <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Minima, harum, optio, soluta mollitia doloremque eveniet ullam consequuntur deserunt obcaecati voluptas reiciendis voluptate reprehenderit ipsum culpa sunt adipisci eum dolores ex!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, excepturi, ipsa tempora laborum quis <a href="#">architecto</a> sequi nisi sapiente cumque distinctio voluptatibus asperiores quas. Saepe, incidunt, atque porro voluptate nihil ipsa!</p>
        </div>
    </div>

    <div class="panel panel-default docs-panel">
        <div class="panel-heading">Lead body copy</div>

        <div class="panel-body">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, praesentium, nobis, aliquid perferendis tempora ipsum in esse quasi autem illum labore tenetur officia ratione deserunt repellat. Officiis, provident unde numquam.</p>
        </div>
    </div>

    <div class="panel panel-default docs-panel">
        <div class="panel-heading">Emphasis</div>

        <div class="panel-body">
            <h6 class="docs-subheading">Small text</h6>

            <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, porro, maiores expedita dolor quidem nisi totam nulla! Obcaecati, eum, unde cupiditate voluptatum rerum vel quos fugit doloribus illum ipsa sequi!</small></p>

            <hr>

            <h6 class="docs-subheading">Strong text</h6>

            <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, porro, maiores expedita dolor quidem nisi totam nulla! Obcaecati, eum, unde cupiditate voluptatum rerum vel quos fugit doloribus illum ipsa sequi!</strong></p>

            <hr>

            <h6 class="docs-subheading">Italic text</h6>

            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, porro, maiores expedita dolor quidem nisi totam nulla! Obcaecati, eum, unde cupiditate voluptatum rerum vel quos fugit doloribus illum ipsa sequi!</em></p>
        </div>
    </div>

    <div class="panel panel-default docs-panel">
        <div class="panel-heading">Blockquotes</div>

        <div class="panel-body">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
        </div>
    </div>

    <div class="panel panel-default docs-panel">
        <div class="panel-heading">Lists</div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="docs-subheading">Unordered</h6>

                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h6 class="docs-subheading">Ordered</h6>

                    <ol>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                    </ol>
                </div>

                <div class="col-md-4">
                    <h6 class="docs-subheading">Unstyled</h6>

                    <ul class="list-unstyled">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr>

                    <h6 class="docs-subheading">Inline</h6>

                    <ul class="list-inline">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
